/* weight:400,700 */
:root {
  --primary-color: #1f1f1f;
  --secondary-color: #f1f1f1;
  --border: 3px solid var(--primary-color);
}

body {
  background-color: var(--secondary-color);
  font-family: "Nunito", sans-serif;
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  line-height: 2;
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  opacity: 0.8;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

.hero {
  height: 600px;
  border-bottom: var(--border);
  margin: 20px 0px 100px 0;
  padding: 100px 20px;
  display: flex;
  align-items: center;
}

.hero-img {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.greet {
  font-weight: bold;
  font-size: 32px;
}

.cards-container {
  max-width: 800px;
}

.cards {
  border: var(--border);
  border-radius: 5px;
}

.card-images {
  border: var(--border);
  border-radius: 5px;
}

.primary-button {
  text-decoration: none;
  color: #1f1f1f;
  border: var(--border);
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
}

.primary-button:hover {
  color: var(--secondary-color);
  opacity: 0.8;
  background-color: #1f1f1f;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
}
