/* weight:400,700 */
:root {
  --primary-color: #1f1f1f;
  --secondary-color: #f1f1f1;
  --border: 3px solid var(--primary-color);
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
  border-radius: 5px;
  line-height: 2;
}

h1 {
  font-weight: bold;
  font-size: 64px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  opacity: 0.8;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  margin-top: 100px;
  border-top: var(--border);
  padding: 20px;
}

footer h2 {
  font-size: 32px;
}

.hero {
  height: 600px;
  border-bottom: var(--border);
  margin: 20px 0px 100px 0;
  padding: 100px 20px;
  display: flex;
  align-items: center;
}

.header {
  max-width: 1000px;
}

.home-hero-img {
  display: block;
  width: 50%;
  margin: 20px auto;
}

.greet {
  font-weight: bold;
  font-size: 32px;
}

.cards-container {
  max-width: 800px;
}

.cards {
  border: var(--border);
  border-radius: 5px;
}

.card-images {
  border-radius: 5px;
}

.primary-button {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  color: var(--secondary-color);
  opacity: 0.8;
  background-color: #1f1f1f;
  border: var(--border);
  transition: all 200ms ease-in-out;
}

.primary-button:hover {
  background-color: var(--secondary-color);
  color: #1f1f1f;
}

.brand-img {
  width: 50px;
  border: var(--border);
  border-radius: 50%;
  padding: 5px;
}

.navigation-bar {
  border-bottom: var(--border);
}

.navigation-bar button {
  border: var(--border);
}

.platforms i {
  border: var(--border);
  border-radius: 50%;
  font-size: 24px;
  transition: all 200ms ease-in-out;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.platforms i:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.platforms a {
  text-decoration: none;
  color: var(--primary-color);
}

.item-container {
  text-align: center;
  max-width: 800px;
}

.item {
  border: var(--border);
  border-radius: 5px;
  width: 150px;
  margin: 20px auto;
  padding: 30px 0;
}

.item i {
  font-size: 32px;
}

.work-container {
  max-width: 800px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  .hero {
    text-align: center;
    height: 500px;
  }
  .hero-img {
    width: 50%;
  }
  .cards-container {
    text-align: center;
  }
  .card-images {
    margin: 20px 0;
  }
}
